
canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast
}


#game_container{
    font-family: arial;
    font-size: 12px;
    background: #000;
    top: 40px;
    left:60px;
    position: relative;
    width: 1100px;
}

#canvas
{
    position: absolute;
    left: 0px;
    top: 0px;
}


#cont{
    font-size: 1.6em;
    width: 1100px;
    height: 800px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 6px;
}

#canvas_buff {
    visibility: hidden
}

#gameover, #help,#next_level, #new_game{
    display: none;
    margin-top: 100px;
    width: 1100px;
    text-align: center;
    font-size: 2.3em;
}

.score,.lives, .level{
    width: 70%;
    float: right;
}

.lives{
    width: 30%;
}